
<div class="jumbotron">
    <h1 class="title">征兵网</h1>
    <p class="slogan">征兵网是一个可以预阅报名入伍的网站。
    <br>
    我们希望大家在这里迈开军旅生涯的第一步。
    <br>
     从这里出发，逐渐磨练成一道拱卫共和国的钢铁力量。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>汊沽港镇立新路5号</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>dourayme321.163com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>022-29491057</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
